{% set label = grains['id'].replace(".local", "").replace(".dev", "").replace(".qa", "").replace(".stage", "").replace(".prod", "") %}
# Example sentinel.conf

daemonize yes

sentinel monitor redis-{{ label }} {{ sentinel.master.host }} {{ sentinel.master.port }} 1
sentinel down-after-milliseconds redis-{{ label }} 2000
sentinel notification-script redis-{{ label }} /etc/redis/notification.sh